body {
  background: url(http://wits.ruc.dk/~amphon/a7/valuta.jpg);
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}
        
    div.one-third {
        width: 30%; /*grundet til 30% og ikke 33%, så de i alt er 100%, er fordi vi vil have mellemrum mellem dem. */
        float: left;
        margin-right: 5%;
        }
        
    div.one-third-last {
        margin: 0px;
        }

img {
border: 4px solid SlateGray;
max-width: 100%;
height: auto; /*gøre højden automatisk proportionelt med width/bredden */
margin: 0px 0px 10px 0px;
}

h1 {
    font-family: "Arial Black";
    font-size: 30px;
    color: Black;  
    text-decoration:underline;
}

h2 {
    font-family: "Arial Black";
    font-size: 20px;
    color: Black;
    text-decoration:underline;
}

p {
    font-family: "Arial";
    font-size: 20px;
    text-indent: 50px;
    color: White;  
}

table, td, th {
    border: 2px solid SlateGray;
    color: black;
    text-align: center;
    }
    th { 
    background-color: SlateGray;
    }